/**
 * Basic styles for sound-background-designer app
 */

.sound-background-designer {

}

.audio-elements {
	height: 100px;
	width: 100%;
	position: relative;
	cursor: copy;
}

.audio-element {
	position: absolute;
	min-width: 20px;
	margin-left: -10px;
	height: 100%;
	cursor: move;
}

.audio-element:before {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	right: 10px;
	bottom: 0;
	min-width: 1px;
	background: linear-gradient(
		to right,
		rgba(0,0,0,0) 0%,
		rgba(0,0,0,0.01) 8.333%,
		rgba(0,0,0,0.05) 16.666%,
		rgba(0,0,0,0.13) 25%,
		rgba(0,0,0,0.32) 33.333%,
		rgba(0,0,0,0.62) 41.666%,
		rgba(0,0,0,1) 50%,
		rgba(0,0,0,0.62) 58.333%,
		rgba(0,0,0,0.32) 66.666%,
		rgba(0,0,0,0.13) 75%,
		rgba(0,0,0,0.05) 83.333%,
		rgba(0,0,0,0.01) 91.666%,
		rgba(0,0,0,0) 100%
	);
}
.audio-element:after {
	content: attr(frequency);
	position: absolute;
	bottom: -20px;
	height: 20px;
	left: 50%;
	width: 40px;
	margin-left: -20px;
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 20px;

}